<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        All the Property are Listed here
    </ui:define>

    <ui:define name="content">
        <h:dataTable class ="table table-hover table-stripped" value="#{propertyService.findAll()}" var="allProperty">
            <h:column>
                <f:facet name="header"><h:outputText value="ID" /></f:facet>
                <h:outputText value="#{allProperty.id}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="Address" /></f:facet>
                <h:outputText value="#{allProperty.address}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="parking" /></f:facet>
                <h:outputText value="#{allProperty.parking.parkingAvailable}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="PropertyOwner name" /></f:facet>
                <h:outputText value="#{allProperty.propertyOwner.name}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="price" /></f:facet>
                <h:outputText value="#{allProperty.price}"></h:outputText>
            </h:column>

            <h:column>
                <h:form> <h:commandLink action="#{adminController.doUpdateProperty(allProperty)}" value="Edit" /></h:form>
            </h:column>
            <h:column>
                <h:form> <h:commandLink action="#{adminController.doDeleteProperty(allProperty)}" value="Delete" /></h:form>
            </h:column>


        </h:dataTable>
    </ui:define>

</ui:composition>
