<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        All Buyers List
    </ui:define>

    <ui:define name="content">
        <h:dataTable class ="table table-hover table-stripped" value="#{buyerService.findAll()}" var="allBuyers">
            <h:column>
                <f:facet name="header"><h:outputText value="ID" /></f:facet>
                <h:outputText value="#{allBuyers.id}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="Name" /></f:facet>
                <h:outputText value="#{allBuyers.name}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="city" /></f:facet>
                <h:outputText value="#{allBuyers.city}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="username" /></f:facet>
                <h:outputText value="#{allBuyers.user.userName}"></h:outputText>
            </h:column>


        </h:dataTable>
    </ui:define>

</ui:composition>
