<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        All Property Owners are listed here
    </ui:define>

    <ui:define name="content">
        <h:dataTable class ="table table-hover table-stripped" value="#{propertyOwnerService.findAll()}" var="allPropertyOwners">
            <h:column>
                <f:facet name="header"><h:outputText value="ID" /></f:facet>
                <h:outputText value="#{allPropertyOwners.id}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="Name" /></f:facet>
                <h:outputText value="#{allPropertyOwners.name}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="MobileNumber" /></f:facet>
                <h:outputText value="#{allPropertyOwners.mobileNumber}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="DateAvailableFrom" /></f:facet>
                <h:outputText value="#{allPropertyOwners.ownsPropertyFromDate}">
                    <f:convertDateTime type="date" />   
                </h:outputText>
            </h:column>

            <h:column>
                <f:facet name="Header"><h:outputText value="UserName" /></f:facet>
                <h:outputText value="#{allPropertyOwners.user.userName}"></h:outputText>
            </h:column>


        </h:dataTable>
    </ui:define>

</ui:composition>
