<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns ="http://www.w3.org/1999/xhtml">

    <ui:define name="title">
        Administrator Section
    </ui:define>

    <ui:define name="content">
        You are an Admin

        <ul> 
            <li><a href="displayAllAgents.xhtml">All Agents</a></li>
            <li><a href="displayAllBuyers.xhtml">All Buyers</a></li>
            <li><a href="displayAllPropertyOwners.xhtml">All Property Owners</a></li>
            <li><a href="displayAllProperty.xhtml">All Property in the Listing</a></li>
            <br/>
            <br/>
            <br/>
            <li>           <h:form><h:commandLink action="#{adminController.doCreateAgent()}" value ="Create a new Agent for REMS" /> </h:form>
            </li>
            <li>           <h:form><h:commandLink action="#{adminController.doCreateBuyer()}" value ="Create a new Buyer for REMS" /> </h:form>
            </li> 
            <li>           <h:form><h:commandLink action="#{adminController.doCreatePropertyOwner()}" value ="Create a new Property Owner for REMS" /> </h:form>
            </li> 
        </ul>
    </ui:define>

</ui:composition>
