<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="BuyerForRems" type="edu.iit.sat.itmd4515.sdeshmu7.fp.domain.Buyer" required="true" />
        <cc:attribute name="UserForRems" type="edu.iit.sat.itmd4515.sdeshmu7.fp.domain.security.User" required="true" />
        <cc:attribute name="readonly" type="java.lang.Boolean" required="false" default="true" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:form>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="buyerName" value="Buyer Name"/>
                <h:inputText class="form-control" id="buyerName" value="#{cc.attrs.BuyerForRems.name}" />
                <h:message for="buyerName" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="buyerAddress" value="Address"/>
                <h:inputText class="form-control" id="buyerAddress" value="#{cc.attrs.BuyerForRems.address}" />
                <h:message for="buyerAddress" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="buyerCity" value="City"/>
                <h:inputText class="form-control" id="buyerCity" value="#{cc.attrs.BuyerForRems.city}" />
                <h:message for="buyerCity" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="buyerGender" value="Gender"/>
                <h:inputText class="form-control" id="buyerGender" value="#{cc.attrs.BuyerForRems.gender}" />
                <h:message for="buyerGender" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="buyerZipCode" value="Zip Code"/>
                <h:inputText class="form-control" id="buyerZipCode" value="#{cc.attrs.BuyerForRems.zipCode}" />
                <h:message for="buyerZipCode" style="color:red" />
            </h:panelGroup>


            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="buyerDateofApplication" value="Date of Application"/>
                <h:inputText class="form-control" id="buyerDateofApplication" value="#{cc.attrs.BuyerForRems.dateOfApplication}" >
                    <f:convertDateTime type="date" dateStyle="short" />                    
                </h:inputText>   
                <h:message for="buyerDateofApplication" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="buyerUserName" value="User Name"/>
                <h:inputText class="form-control" id="buyerUserName" value="#{cc.attrs.UserForRems.userName}" />
                <h:message for="buyerUserName" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="buyerPassword" value="Default Password"/>
                <h:inputText class="form-control" id="buyerPassword" value="#{cc.attrs.UserForRems.password}" />
                <h:message for="buyerPassword" style="color:red" />
            </h:panelGroup>


            <h:commandButton action="#{cc.attrs.action}" value="Save" rendered="#{not cc.attrs.readonly}"  />

        </h:form>  

    </cc:implementation>
</html>