<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="PropertyOwnerForRems" type="edu.iit.sat.itmd4515.sdeshmu7.fp.domain.PropertyOwner" required="true" />
        <cc:attribute name="UserForRems" type="edu.iit.sat.itmd4515.sdeshmu7.fp.domain.security.User" required="true" />
        <cc:attribute name="readonly" type="java.lang.Boolean" required="false" default="true" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:form>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="poName" value="Buyer Name"/>
                <h:inputText class="form-control" id="poName" value="#{cc.attrs.PropertyOwnerForRems.name}" />
                <h:message for="poName" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="poAddress" value="Address"/>
                <h:inputText class="form-control" id="poAddress" value="#{cc.attrs.PropertyOwnerForRems.address}" />
                <h:message for="poAddress" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="poState" value="State"/>
                <h:inputText class="form-control" id="poState" value="#{cc.attrs.PropertyOwnerForRems.state}" />
                <h:message for="poState" style="color:red" />
            </h:panelGroup>


            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="poCity" value="City"/>
                <h:inputText class="form-control" id="poCity" value="#{cc.attrs.PropertyOwnerForRems.city}" />
                <h:message for="poCity" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="poMobile" value="Mobile Number"/>
                <h:inputText class="form-control" id="poMobile" value="#{cc.attrs.PropertyOwnerForRems.mobileNumber}" />
                <h:message for="poMobile" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="poZipCode" value="Zip Code"/>
                <h:inputText class="form-control" id="poZipCode" value="#{cc.attrs.PropertyOwnerForRems.pinCode}" />
                <h:message for="poZipCode" style="color:red" />
            </h:panelGroup>


            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="poDateofApplication" value="Date of Application"/>
                <h:inputText class="form-control" id="poDateofApplication" value="#{cc.attrs.PropertyOwnerForRems.ownsPropertyFromDate}" >
                    <f:convertDateTime type="date" dateStyle="short" />                    
                </h:inputText>   
                <h:message for="poDateofApplication" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="poUserName" value="User Name"/>
                <h:inputText class="form-control" id="poUserName" value="#{cc.attrs.UserForRems.userName}" />
                <h:message for="poUserName" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="poPassword" value="Default Password"/>
                <h:inputText class="form-control" id="poPassword" value="#{cc.attrs.UserForRems.password}" />
                <h:message for="poPassword" style="color:red" />
            </h:panelGroup>
            <h:commandButton action="#{cc.attrs.action}" value="Save" rendered="#{not cc.attrs.readonly}"  />

        </h:form>  

    </cc:implementation>
</html>