<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="AgentForRems" type="edu.iit.sat.itmd4515.sdeshmu7.fp.domain.Agent" required="true" />
        <cc:attribute name="UserForRems" type="edu.iit.sat.itmd4515.sdeshmu7.fp.domain.security.User" required="true" />
        <cc:attribute name="readonly" type="java.lang.Boolean" required="false" default="true" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:form>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="agentName" value="Agent Name"/>
                <h:inputText class="form-control" id="agentName" value="#{cc.attrs.AgentForRems.name}" />
                <h:message for="agentName" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="agentAddress" value="Address"/>
                <h:inputText class="form-control" id="propertyAddress" value="#{cc.attrs.AgentForRems.address}" />
                <h:message for="propertyAddress" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="agentCity" value="City"/>
                <h:inputText class="form-control" id="propertyCity" value="#{cc.attrs.AgentForRems.city}" />
                <h:message for="propertyCity" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="agentState" value="State"/>
                <h:inputText class="form-control" id="agentState" value="#{cc.attrs.AgentForRems.state}" />
                <h:message for="agentState" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="agentPinCode" value="Pin Code"/>
                <h:inputText class="form-control" id="agentPinCode" value="#{cc.attrs.AgentForRems.pinCode}" />
                <h:message for="agentPinCode" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="agentMobileNumber" value="Mobile Number"/>
                <h:inputText class="form-control" id="agentMobileNumber" value="#{cc.attrs.AgentForRems.mobileNumber}" />
                <h:message for="agentMobileNumber" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="agentUserName" value="User Name"/>
                <h:inputText class="form-control" id="agentUserName" value="#{cc.attrs.UserForRems.userName}" />
                <h:message for="agentUserName" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="agentPassword" value="Default Password"/>
                <h:inputText class="form-control" id="agentPassword" value="#{cc.attrs.UserForRems.password}" />
                <h:message for="agentPassword" style="color:red" />
            </h:panelGroup>


            <h:commandButton action="#{cc.attrs.action}" value="Save" rendered="#{not cc.attrs.readonly}"  />

        </h:form>  

    </cc:implementation>
</html>