<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>



    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:dataTable class ="table table-hover table-stripped" value="#{agentService.findAll()}" var="allAgents">
            <h:column>
                <f:facet name="header"><h:outputText value="ID" /></f:facet>
                <h:outputText value="#{allAgents.id}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="Address" /></f:facet>
                <h:outputText value="#{allAgents.name}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="Address" /></f:facet>
                <h:outputText value="#{allAgents.mobileNumber}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Address" /></f:facet>
                <h:outputText value="#{allAgents.userAsAgent.userName}"></h:outputText>
            </h:column>


        </h:dataTable>



    </cc:implementation>
</html>