<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="PaymentInsert" type="edu.iit.sat.itmd4515.sdeshmu7.fp.domain.Payment" required="true" />
        <cc:attribute name="PaymentOfProperty" type="edu.iit.sat.itmd4515.sdeshmu7.fp.domain.Property" required="true" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:form>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="paymentTypeOfPayment" value="Payment Type"/>
                <h:selectOneRadio class="form-control" id="paymentTypeOfPayment" value="#{cc.attrs.PaymentInsert.typeOfPayment}">
                    <f:selectItem id="item1" itemLabel="Card" itemValue="Card" />
                    <f:selectItem id="item2" itemLabel="Cash" itemValue="Cash" />
                </h:selectOneRadio>
                <h:message for="paymentTypeOfPayment" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="paymentAmount" value="Amount"/>
                <h:inputText class="form-control" id="paymentAmount" value="#{cc.attrs.PaymentInsert.amount}" />
                <h:message for="paymentAmount" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="paymentDateOfPayment" value="Date"/>
                <h:inputText class="form-control" id="paymentDateOfPayment" value="#{cc.attrs.PaymentInsert.dateOfPayment}" >
                    <f:convertDateTime type="date" dateStyle="short" />                    
                </h:inputText>   
                <h:message for="paymentDateOfPayment" style="color:red" />
            </h:panelGroup>

            <h:commandButton action="#{cc.attrs.action}" value="Pay"   />

        </h:form>

    </cc:implementation>
</html>