<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>

        <cc:attribute name="propertyForOwners" type="java.util.List" required="True" />

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:dataTable class ="table table-hover table-stripped" value="#{propertyOwnerController.allProperty}" var="property">
            <h:column>
                <f:facet name="header"><h:outputText value="ID" /></f:facet>
                <h:outputText value="#{property.id}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="Address" /></f:facet>
                <h:outputText value="#{property.address}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header"><h:outputText value="DateAvailableFrom" /></f:facet>
                <h:outputText value="#{property.dateAvailableFrom}">
                    <f:convertDateTime type="date" />   
                </h:outputText>
            </h:column>

            <h:column>
                <h:form> <h:commandLink action="#{propertyOwnerController.doShowProperty(property)}" value="Show" /></h:form>
            </h:column>
            <h:column>
                <h:form> <h:commandLink action="#{propertyOwnerController.doUpdateProperty(property)}" value="Edit" /></h:form>
            </h:column>
            <h:column>
                <h:form> <h:commandLink action="#{propertyOwnerController.doDeleteProperty(property)}" value="Delete" /></h:form>
            </h:column>

        </h:dataTable>
    </cc:implementation>
</html>