<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="PropertyInsert" type="edu.iit.sat.itmd4515.sdeshmu7.fp.domain.Property" required="true" />
        <cc:attribute name="readonly" type="java.lang.Boolean" required="false" default="true" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:form>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="propertyId" value="Property ID"/>
                <h:inputText class="form-control" id="propertyId" value="#{cc.attrs.PropertyInsert.id}" />
                <h:message for="propertyId" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="propertyAddress" value="Property Address"/>
                <h:inputText class="form-control" id="propertyAddress" value="#{cc.attrs.PropertyInsert.address}" />
                <h:message for="propertyAddress" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="propertyCity" value="Property City"/>
                <h:inputText class="form-control" id="propertyCity" value="#{cc.attrs.PropertyInsert.city}" />
                <h:message for="propertyCity" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="propertyZip" value="Property Zip"/>
                <h:inputText class="form-control" id="propertyZip" value="#{cc.attrs.PropertyInsert.zip}" />
                <h:message for="propertyZip" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="propertyState" value="Property State"/>
                <h:inputText class="form-control" id="propertyState" value="#{cc.attrs.PropertyInsert.state}" />
                <h:message for="propertyState" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="propertyPrice" value="Property Price"/>
                <h:inputText class="form-control" id="propertyPrice" value="#{cc.attrs.PropertyInsert.price}" />
                <h:message for="propertyPrice" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="propertyrentOrSale" value="Property RentOrSale"/>
                <h:inputText class="form-control" id="propertyrentOrSale" value="#{cc.attrs.PropertyInsert.rentOrSale}" />
                <h:message for="propertyrentOrSale" style="color:red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="propertyDateAvailableFrom" value="Property Available from:"/>
                <h:inputText class="form-control" id="propertyDateAvailableFrom" value="#{cc.attrs.PropertyInsert.dateAvailableFrom}" >
                    <f:convertDateTime type="date" dateStyle="short" />                    
                </h:inputText>   
                <h:message for="propertyDateAvailableFrom" style="color:red" />
            </h:panelGroup>

            <h:commandButton action="#{cc.attrs.action}" value="Save" rendered="#{not cc.attrs.readonly}"  />

        </h:form>

    </cc:implementation>
</html>