<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title><ui:insert name="title">Real Estate Management System</ui:insert></title>

        <!-- Bootstrap -->
        <h:outputStylesheet library="webjars/bootstrap/4.0.0-alpha/css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="css" name="starter-template.css"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </h:head>
    <h:body>

        <nav class="navbar navbar-inverse navbar-dark bg-inverse navbar-fixed-top">
            <a class="navbar-brand" href="#">REMS</a>
            <ul class="nav nav-pills">
                <li class="nav-item active">
                    <h:link outcome="Welcome" value="Home" class="nav-link"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sdeshmu7-fp/About.xhtml">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sdeshmu7-fp/About.xhtml">Contact</a>
                </li>
                <li class="nav-item">
                    <h:form><h:commandLink class="nav-link"  action="#{loginController.doLogout()}" value="Logout (#{loginController.remoteUser})"/></h:form>
                </li>
            </ul>
        </nav>

        <h:panelGroup layout="block" class="container">

            <h:panelGroup layout="block" 
                          class="alert alert-warning alert-dismissible"
                          rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h:messages showDetail="false" globalOnly="true" showSummary="true"/>
            </h:panelGroup>

            <h1><ui:insert name="title">Default title</ui:insert></h1>

            <h:messages showDetail="true" errorStyle="color: red" warnStyle="color: orange"
                        infoStyle="color: blue" globalOnly="true" showSummary="true"/>

            <ui:insert name="content">Default content</ui:insert>
        </h:panelGroup>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <h:outputScript library="webjars/bootstrap/4.0.0-alpha/js" name="bootstrap.min.js"/>
    </h:body>
</html>

