<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <ui:define name="title">
        Agent Section
    </ui:define>

    <ui:define name="content">
        You are an Agent

        <h2>
            <h:form><h:commandLink action="#{agentController.doCreateProperty()}" value ="Create a new Property" /> </h:form>
        </h2>

        <ezcomp:propertyForAgents  propertyofAgent="#{agentController.property}"/>
    </ui:define>

</ui:composition>
