<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <ui:define name="title">
        Payment Section 
    </ui:define>

    <ui:define name="content">
        Payment Section :

        <ezcomp:paymentOfProperty PaymentInsert="#{buyerController.paymentForProperty}" PaymentOfProperty="#{buyerController.buyerProperty}" action ="#{buyerController.executeUpdatePayment()}"  />

    </ui:define>

</ui:composition>
