<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body>

        <ui:composition template="./WEB-INF/templates/secureTemplate.xhtml">

            <ui:define name="title">
               About Us
            </ui:define>

            <ui:define name="content">
                Real Estate Management system will help the buyer to check the listings of the current available properties using the Internet and sort the listings with some good filters .For property owners, it will help them to publish their property for Rent or Sale. The objective of this system is to reduce the paper work and a primary analysis of the available Real estate in a particular area.
            </ui:define>

        </ui:composition>

    </body>
</html>
