<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/publicTemplate.xhtml">

    <ui:define name="title">
        title
    </ui:define>

    <ui:define name="content">
        Some Error Occured ! Please try again.<h:link outcome="login" value="Login here" />
    </ui:define>

</ui:composition>
