<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/publicTemplate.xhtml">

    <ui:define name="title">
                Real Estate Management System
    </ui:define>

    <ui:define name="content">


        <h:graphicImage  url="/resources/images/image1.jpg"/>
        <h:form>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="j_username" value="UserName" />
                <h:inputText id="j_username" class="form-control" value="#{loginController.username}" />
                <h:message for="j_username" style="color: red" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="j_password" value="Password" />
                <h:inputSecret id="j_password" class="form-control" value="#{loginController.password}"  />  
                <h:message for="j_password" style="color:red" />
            </h:panelGroup>
            <h:commandButton action="#{loginController.dologin()}" value="Login" />
        </h:form>


    </ui:define>

</ui:composition>
