<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>User Login</title>
    </h:head>
    <h:body>
        <form method="post" action="j_security_check">
            <fieldset>
                <div>
                    <label for="j_username">Username:</label>
                    <input type="text" id="j_username" name="j_username" />
                </div>
                <div>
                    <label for="j_password">Password:&nbsp;</label>
                    <input type="password" id="j_password" name="j_password" />
                </div>
                <input type="submit" value="Submit"/>
                <input type="reset" value="Reset"/>
            </fieldset>
        </form>
    </h:body>
</html>

